.google-maps {
    position: relative;
    padding-bottom: 50%; 
    height: 0;
    overflow: hidden;
  }
  .google-maps > iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 90% !important;
    height: 90% !important;
  }